
// Bootstrap Variables
$icon-font-path: '../fonts/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.form-item{
    margin-right: 10px;
    margin-left: 10px;
}

// .form-inline{
//   input.form-control{
//     width: 33%;
//   }
//   button{
//   }
// }

.shirt-description{
  height: 35px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
